@model Dashboard.Models.FormaPagamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormaPagamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoFp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoFp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoFp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoFp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFormaPagamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
